*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 32px;
    border: 1px solid black;
    outline: none;
    background-color: gray;
    color: #fff;
}

.calculator-grid > button:hover {
    background-color: darkgray;
}

.calculator-grid .operator, .calculator-grid .equal-sign {
    background-color: orange;
}

.calculator-grid .operator:hover, .calculator-grid .equal-sign:hover {
    background-color: darkorange;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

footer {
    text-align: center;
    font-size: 12px;
    color: gray;
}